@tailwind base;
@tailwind components;
@tailwind utilities;

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

aside.EmojiPickerReact {
  width: auto;
}
